@import url("https://fonts.googleapis.com/css2?family=Audiowide&family=Josefin+Sans:wght@100&family=Rambla&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  color: #283655 !important;
  background-color: #f7faff !important;
  font-family: "Rambla", sans-serif;
}
h2,
h3 {
  font-family: "Audiowide", sans-serif;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  text-shadow: -1px -1px 1px #283655;
}
h4 {
  font-family: "Rambla";
  letter-spacing: 0.2em;
  padding-bottom: 40px;
}
li {
  list-style-type: none;
}

/* ***************HEADER**************** */
.navbar {
  background-color: #fafafa;
  opacity: 0.9;
  height: 42px;
  transition: 0.7s;
}
.navbar-nav {
  width: 80% !important;
  margin: 0 auto;
  justify-content: space-between;
  display: inline-block;
}
.header {
  text-align: center;
  /* height: 100vh; */
  background: url(media/header.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}
h1 {
  padding: 90px 0 10px 0;
  font-family: "Josefin Sans", sans-serif;
  font-size: calc(40px + 2.5vw);
  text-transform: uppercase;
}
#line {
  height: 1px;
  background-color: #b3aca7;
  width: 25%;
  margin: 0 auto;
}
h2 {
  padding: 20px 0 50px 0;
  font-size: calc(20px + 2vw);
  text-transform: uppercase;
}
.presentation {
  height: 240px;
  margin-top: 20px;
}
.infos {
  border: 1px solid #b3aca7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0;
}
.photo {
  border: 1px solid #b3aca7;
  position: relative;
}
.photo img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: auto;
  max-width: 60%;
  border-radius: 3px;
  box-shadow: 0 0 4px #111;
}
.container{
  padding-bottom: 40px;
}
header .button {
  margin-top: 45px;
  margin-bottom: 20px;
}
header .button a {
  padding: 20px 80px;
  border: 1px solid #b3aca7;
  width: 300px;
}
header .button:hover a {
  background: #b3aca7;
  color: #283655;
  transition: all 0.3s ease-in-out;
  text-decoration: none;
}

/* ***************LANGAGES**************** */
#langages {
  padding: 60px 80px 80px 50px;
  margin: 20px 0 0 6%;
  height: 780px;
  /* width: 47%; */
  max-width: 640px;
  min-width:300px;
  /*création du gradient avec CSS generator.org*/
  background: #ff1122;
  background: linear-gradient(130deg, #ff1122 0%, rgba(255, 184, 0, 0.32) 80%);
  background: -webkit-linear-gradient(
    130deg,
    #ff1122 0%,
    rgba(255, 184, 0, 0.32) 80%
  );
  background: -moz-linear-gradient(
    130deg,
    #ff1122 0%,
    rgba(255, 184, 0, 0.32) 80%
  );
  /*création du polygone avec benettfeely.com/clippy */
  clip-path: polygon(0 10%, 100% 0%, 89% 94%, 0 100%);
}
#langages h3{
  font-size: 2.5em;
  padding-bottom: 30px;
}
#langages .bar {
  padding: 10px 0 4px 0;
  letter-spacing: 0.1 em;
}
.section{
  display: flex;
  flex-wrap: wrap;
  flex: 1 1 50%;
}
.langageFormation{
  background-color: #fafafa;
  opacity: 0.9;
}
/* ***************FORMATIONS**************** */
#formations {
  position: relative;
  right: 100px;
  float: right;
  margin-right: 5%;
  padding: 60px 10px 60px 50px;
  width: 45% ;
  max-width: 660px ;
  background: linear-gradient(19deg, rgba(119, 219, 241, 0.69) 0%, #0083b0 80%);
  clip-path: polygon(1% 6%, 100% 10%, 100% 100%, 0 95%);
}
.formationh3{
  font-size: 2.5em;
  padding-bottom: 30px;
  padding-top: 30px;
}
#autodidacte {
  padding: 50px 0 0 0%;
}
#eni {
  padding: 50px 0 0 9%;
}
#ocr {
  padding: 50px 0 0 18%;
}
#formation h4 {
  font-weight: bold;
  letter-spacing: 0.08em;
  padding-bottom: 10px;
  color: #005978;
  text-shadow: -1px -1px 1px #35b4d5;
}
.counter {
  display: flex;
  text-align: center;
}
.data {
  border: 1px solid #35b4d5;
  width: 170px;
  margin: 0 4%;
  box-shadow: 0 0 8px #1c9dc4;
  padding: 5px 20px;
}
.counter-value {
  font-size: 2em;
}
.data-span {
  font-size: 1.8em;
}

/***************************PARCOURS**********************/
#parcours {
  width: auto;
  margin: auto;
  padding: auto;
  background: url(./media/parcours1.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
 
  border-radius: 8px;
  box-shadow: -1px -1px 8px #283655;
}
#parcours h3 {
  font-size: 2.5em;
  padding-bottom: 30px;
}
.parcoursh3 {
  font-size: calc(16px + 2vw);
}
#parcours h4 {
  font-size: 1.6em;
  color: #ff4e50;
  margin-left: 20px;
}

#parcours h6 {
  font-style: italic;
  color: #edca21;
  margin-left: 20px;
}
#parcours p {
  line-height: 1.9em;
  text-align: justify;
}
.timeline {
  border-top: 3px solid;
  border-image: linear-gradient(to right, #f9d423, #ff4e50);
  border-image-slice: 1;
  margin: 0;
  padding: 40px;
  position: relative;
}
.timeline:nth-child(1):after {
  content: "▲"; /* touche Alt + 30 forme cette flèche */
  color: #ff4e50;
  position: absolute;
  top: -10px;
  right: -9px;
  box-sizing: content-box !important;
}
.timeline:nth-child(1) {
  border-bottom: 3px solid;
  border-top: none;
  width: 80%;
}
.timeline:nth-child(2) {
  border-top: none;
}
.timeline:nth-child(odd) {
  /* odd pour les éléments impairs*/
  border-right: 3px solid;
  padding-left: 0;
}
.timeline:nth-child(even) {
  /* even pour les éléments pairs*/
  border-left: 3px solid;
  padding-right: 0;
}

/*************CONTACT*******/

#contact {
  max-width: 80 px;
  margin: 40px auto 80px auto;
  padding: 40px 30px 100px 30px;
  border-radius: 8px;
  box-shadow: -1px -1px 8px #283655;
  display: inline-block;
  background: url(./media/footer.jpg) no-repeat fixed 50% 50%;
  background-size: cover;
}
.contacth3 {
  font-size: calc(16px + 2vw);
}

.contacth5 {
  font-size: calc(5px + 2vw);
}

/*****TOPBUTTON*****/

.topButton{
  display:flex;
  padding:30px 50px 30px 0px;
  position:fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 80px;
  align-items: center;
}
.topButton img {  
  height: 8vh;
  padding: 10px;
  color: #283655;
}


/*****MEDIAQUERIES*****/

@media screen and (max-width: 900px) {

.h1 {
  display: none;
}
.navbar {
  display: none;
  opacity: 100;
}
.navbar-nav {
  background-color: #fafafa;
}
h1 {
  padding: 10px 0 0 0;
}
h2 {
  padding: 0 0 10px 0;
}
h4 {
  padding-bottom: 0;
}
.presentation {
  height: 180px;
}
#langages{
  clip-path: none;
  margin: auto;
  padding-top: 40px;
  padding-left: 20px;
}
#langages h3{
  padding-bottom: 0;
}
.langage{
  display:none;
}
#formations{
  clip-path: none;
  float:none;
  padding-left: 20px;
  margin-right: 0;
  width: auto;
  right: 0;
}
.topButton{
  right: 20px;
  padding-right: 30px;
}
#parcours{
  margin: auto;
  width: auto;
}
}